<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>

    <!-- set up direct of extraction and the count of reference for each source sentence  -->
    <add key="RefCount"                   value="4" />

    <!-- set up single input files  -->
    <add key="AlignFile"                  value="align.txt" />
    <add key="SrcSensFile"                value="c.txt" />
    <add key="RefSensFile"                value="e.txt" />

    <!-- set up dependency fils for source sentences  -->
    <!--SrcDepdencyTreeFile-->
    <add key="SrcDependencyTreeFile:0"           value="C_StanDep.txt" />
    
    <!-- set up tree fils for source sentences  -->
    <!--SrcConstituentTreeFile-->
    <add key="SrcConstituentTreeFile:0"          value="C_Berk.txt" />
    <add key="SrcConstituentTreeFile:1"          value="C_StanTree.txt" />

    <!-- set up dependency fils for reference sentences  -->
    <!--RefDepdencyTreeFile-->
    <add key="RefDependencyTreeFile:0"           value="E_StanDep.txt" />

    <!-- set up reference fils for reference sentences  -->
    <!--RefConstituentTreeFile-->
    <add key="RefConstituentTreeFile:0"          value="E_Berk.txt" />
    <add key="RefConstituentTreeFile:1"          value="E_StanTree.txt" />

    <!-- set up source tag groups to extract (type is 'word/consPhr/depPhr') -->
    <add key="SrcTags:Noun"               value="Type='word' ; ParserID=[0,1] ; Tags=[NN,NR]" />
    <add key="SrcTags:Verb"               value="Type='word' ; ParserID=[0,1] ; Tags=[VV,VC,VE]" />
    <add key="SrcTags:Adj"                value="Type='word' ; ParserID=[0,1] ; Tags=[JJ]" />
    <add key="SrcTags:Prep"               value="Type='word' ; ParserID=[0,1] ; Tags=[P]" />
    <add key="SrcTags:Adverb"             value="Type='word' ; ParserID=[0,1] ; Tags=[AD]" />
    <add key="SrcTags:Pron"               value="Type='word' ; ParserID=[0,1] ; Tags=[PN]" />

    <add key="SrcTags:NP"                 value="Type='consPhr' ; ParserID=[0,1] ; Tags=[NP]" />
    <add key="SrcTags:VP"                 value="Type='consPhr' ; ParserID=[0,1] ; Tags=[VP]" />
    <add key="SrcTags:PP"                 value="Type='consPhr' ; ParserID=[0,1] ; Tags=[PP]" />
    <add key="SrcTags:QP"                 value="Type='consPhr' ; ParserID=[0,1] ; Tags=[QP]" />
    <add key="SrcTags:ADVP"               value="Type='consPhr' ; ParserID=[0,1] ; Tags=[ADVP]" />
    <add key="SrcTags:ADJP"               value="Type='consPhr' ; ParserID=[0,1] ; Tags=[ADJP]" />
    <add key="SrcTags:Locate_Phr"         value="Type='consPhr' ; ParserID=[0,1] ; Tags=[LCP]" />

    <add key="SrcTags:Sub_Predi"          value="Type='depPhr' ; ParserID=[0] ; Tags=[nsubj]" />
    <add key="SrcTags:Predi_Obj"          value="Type='depPhr' ; ParserID=[0] ; Tags=[dobj]" />
    <add key="SrcTags:Predi_Comp"         value="Type='depPhr' ; ParserID=[0] ; Tags=[comod]" />
    <add key="SrcTags:Prep_Obj"           value="Type='depPhr' ; ParserID=[0] ; Tags=[pobj]" />
    <add key="SrcTags:Adv_MOD"            value="Type='depPhr' ; ParserID=[0] ; Tags=[advmod]" />
    <add key="SrcTags:Adj_MOD"            value="Type='depPhr' ; ParserID=[0] ; Tags=[amod]" />
    <add key="SrcTags:Noun_MOD"           value="Type='depPhr' ; ParserID=[0] ; Tags=[nmod]" />

    <!-- set up reference tag groups to extract  -->
    <add key="RefTags:Noun"               value="Type='word' ; ParserID=[0,1] ; Tags=[NN,NNS,NNP,NNPS]" />
    <add key="RefTags:Verb"               value="Type='word' ; ParserID=[0,1] ; Tags=[VB,VBD,VBN]" />
    <add key="RefTags:Adj"                value="Type='word' ; ParserID=[0,1] ; Tags=[JJ]" />
    <add key="RefTags:Adverb"             value="Type='word' ; ParserID=[0,1] ; Tags=[RB]" />
    <add key="RefTags:Pron"               value="Type='word' ; ParserID=[0,1] ; Tags=[PRP]" />
    <add key="RefTags:Quantity"           value="Type='word' ; ParserID=[0,1] ; Tags=[CD]" />
    <add key="RefTags:AdjTrans"           value="Type='word' ; ParserID=[0,1] ; Tags=[JJR,JJS]" />
    <add key="RefTags:AdvTrans"           value="Type='word' ; ParserID=[0,1] ; Tags=[RBR,RBS]" />
    <add key="RefTags:ModalVerb"          value="Type='word' ; ParserID=[0,1] ; Tags=[MP]" />
    <add key="RefTags:Article"            value="Type='word' ; ParserID=[0,1] ; Tags=[DT]" />
    <add key="RefTags:Prep"               value="Type='word' ; ParserID=[0,1] ; Tags=[IN]" />

    <add key="RefTags:NP"                 value="Type='consPhr' ; ParserID=[0,1] ; Tags=[NP]" />
    <add key="RefTags:VP"                 value="Type='consPhr' ; ParserID=[0,1] ; Tags=[VP]" />
    <add key="RefTags:PP"                 value="Type='consPhr' ; ParserID=[0,1] ; Tags=[PP]" />
    <add key="RefTags:QP"                 value="Type='consPhr' ; ParserID=[0,1] ; Tags=[QP]" />
    <add key="RefTags:ADVP"               value="Type='consPhr' ; ParserID=[0,1] ; Tags=[ADVP]" />
    <add key="RefTags:ADJP"               value="Type='consPhr' ; ParserID=[0,1] ; Tags=[ADJP]" />
    <add key="RefTags:WH_Prep_Phr"        value="Type='consPhr' ; ParserID=[0,1] ; Tags=[WHPP]" />
    <add key="RefTags:WH_Adv_Phr"         value="Type='consPhr' ; ParserID=[0,1] ; Tags=[WHADVP]" />
    <add key="RefTags:WH_Noun_Phr"        value="Type='consPhr' ; ParserID=[0,1] ; Tags=[WHNP]" />
    <add key="RefTags:CONJ_Phr"           value="Type='consPhr' ; ParserID=[0,1] ; Tags=[CONJP]" />

    <add key="RefTags:Sub_Predi"          value="Type='depPhr' ; ParserID=[0] ; Tags=[nsubj,nsubjpass]" />
    <add key="RefTags:Predi_Obj"          value="Type='depPhr' ; ParserID=[0] ; Tags=[dobj]" />
    <add key="RefTags:Adv_MOD"            value="Type='depPhr' ; ParserID=[0] ; Tags=[advmod]" />
    <add key="RefTags:Adj_MOD"            value="Type='depPhr' ; ParserID=[0] ; Tags=[amod]" />
    <add key="RefTags:Be_Predi"           value="Type='depPhr' ; ParserID=[0] ; Tags=[auxpass]" />

    <!--specify extra data resource for non-syntax check-point extraction-->
    <add key="DicF:Collocation" value="Ch_Collocation.txt"/>
    <add key="DicF:FuncWords"   value="En_FunctionWords.txt"/>
    <add key="DicF:Idiom"       value="Ch_Idiom.txt"/>
    <add key="DicF:AmbiWord"    value="Ch_AmbiWord.txt"/>
    <add key="DicF:NewWord"     value="Ch_NewWords.txt"/>

  </appSettings>
</configuration>
